{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2>DATA</h2>
</div>
<div class="container">
  <table class="table table-striped" id="owned_stock_table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Owner</th>
      <th>Group</th>
      <th>Project</th>
      <th>Alias</th>
      <th>PreProcessMd5</th>
      <th>PostProcessMd5</th>
      <th>Repo</th>
      <th>Name</th>
      <th>BrainppDir</th>
      <th>TarName</th>
      <th>FtpDir</th>
      <th>Status</th>
      <th>RegisterTime</th>
      <th>Editable</th>
    </tr>
    </thead>
    <tbody>
    {% for post in posts %}
    <tr>
      <td >{{ post['ID'] }}</td>
      <td class="body">{{ post['Owner'] }}</td>
      <td class="body">{{ post['Group'] }}</td>
      <td class="body">{{ post['Project'] }}</td>
      <td class="body">{{ post['Alias'] }}</td>
      <td class="body">{{ post['PreProcessMd5'] }}</td>
      <td class="body">{{ post['PostProcessMd5'] }}</td>
      <td class="body">{{ post['Repo'] }}</td>
      <td class="body">{{ post['Name'] }}</td>
      <td class="body">{{ post['BrainppDir'] }}</td>
      <td class="body">{{ post['TarName'] }}</td>
      <td class="body">{{ post['FtpDir'] }}</td>
      <td class="body">{{ post['Status'] }}</td>
      <td class="body">{{ post['RegisterTime'] }}</td>
      <td> {% if g.user['user_name'] == post['Owner'] %}
        <a class="action" href="{{ url_for('resource.data_update', id=post['ID']) }}">Edit</a>
           {% elif 'Admin' in g.user['user_group'] %}
        <a class="action" href="{{ url_for('resource.data_update', id=post['ID']) }}">Edit</a>
           {% elif post['Group'] != None and post['Group'].split('_')[0] in g.user['user_group'] %}
        <a class="action" href="{{ url_for('resource.data_update', id=post['ID']) }}">Edit</a>
           {% elif post['Group'] == None or post['Group'] == 'None' or post['Group'] == '' %}
        <a class="action" href="{{ url_for('resource.data_update', id=post['ID']) }}">Edit</a>
           {% endif %}
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<div class="container">
  <div class="col-md-4">
    <button type="button" class="btn btn-default" aria-label="Left Align">
      {% if g.user %}
      <a class="action" href="{{ url_for('resource.data_create') }}">Create New</a>
      {% endif %}
    </button>
  </div>
</div>
{% endblock %}