{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2>{% block title %}Edit Device -- {{ post['ID'] }} {% endblock %}</h2>
</div>
<div class="container">
  <form class="admin-form form-horizontal" method="post">
    <div class="form-group">
      <label for="Alias" class="col-md-2 control-label">Alias</label>
      <div class="col-md-10">
        <input name="Alias" id="Alias"
               value="{{ request.form['Alias'] or post['Alias'] }}" class="form-control" aria-describedby="basic-addon1" required>
      </div>
    </div>
    <div class="form-group">
      <label for="IP" class="col-md-2 control-label">IP</label>
      <div class="col-md-10">
        <input name="IP" id="IP"
               value="{{ request.form['IP'] or post['IP'] }}" class="form-control" aria-describedby="basic-addon1" required>
      </div>
    </div>
    <div class="form-group">
      <label for="MAC" class="col-md-2 control-label">MAC</label>
      <div class="col-md-10">
        <input name="MAC" id="MAC"
               value="{{ request.form['MAC'] or post['MAC'] }}" class="form-control" aria-describedby="basic-addon1" required>
      </div>
    </div>
    <div class="form-group">
      <label for="SystemType" class="col-md-2 control-label">SystemType</label>
      <div class="col-md-10">
        <input name="SystemType" id="SystemType"
               value="{{ request.form['SystemType'] or post['SystemType'] }}" class="form-control" aria-describedby="basic-addon1" required>
      </div>
    </div>
    <div class="form-group">
      <label for="Platform" class="col-md-2 control-label">Platform</label>
      <div class="col-md-10">
        <input name="Platform" id="Platform"
               value="{{ request.form['Platform'] or post['Platform'] }}" class="form-control" aria-describedby="basic-addon1" required>
      </div>
    </div>
    <div class="form-group">
      <label for="Node" class="col-md-2 control-label">Node</label>
      <div class="col-md-10">
        <input name="Node" id="Node"
               value="{{ request.form['Node'] or post['Node'] }}" class="form-control" aria-describedby="basic-addon1" required>
      </div>
    </div>
    <div class="form-group">
      <label for="Status" class="col-md-2 control-label">Status</label>
      <div class="col-md-10">
        <input name="Status" id="Status"
               value="{{ request.form['Status'] or post['Status'] }}" class="form-control" aria-describedby="basic-addon1" required>
      </div>
    </div>
    <div class="form-group">
      <label for="PID" class="col-md-2 control-label">PID</label>
      <div class="col-md-10">
        <input name="PID" id="PID"
               value="{{ request.form['PID'] or post['PID'] }}" class="form-control" aria-describedby="basic-addon1" required>
      </div>
    </div>
    <div class="form-group">
      <label for="RegisterTime" class="col-md-2 control-label">RegisterTime</label>
      <div class="col-md-10">
        <input name="RegisterTime" id="RegisterTime"
               value="{{ request.form['RegisterTime'] or post['RegisterTime'] }}" class="form-control" aria-describedby="basic-addon1" required>
      </div>
    </div>
    <div class="form-group">
      <label for="HostID" class="col-md-2 control-label">HostID</label>
      <div class="col-md-10">
        <input name="HostID" id="HostID"
               value="{{ request.form['HostID'] or post['HostID'] }}" class="form-control" aria-describedby="basic-addon1" required>
      </div>
    </div>
    <div class="form-group">
      <label for="DeviceType" class="col-md-2 control-label">DeviceType</label>
      <div class="col-md-10">
        <input name="DeviceType" id="DeviceType"
               value="{{ request.form['DeviceType'] or post['DeviceType'] }}" class="form-control" aria-describedby="basic-addon1" required>
      </div>
    </div>
    <div class="form-group">
      <label for="Group" class="col-md-2 control-label">Group</label>
      <div class="col-md-10">
        <input name="Group" id="Group"
               value="{{ request.form['Group'] or post['Group'] }}" class="form-control" aria-describedby="basic-addon1" required>
      </div>
    </div>
    <div class="form-group">
      <label for="Owner" class="col-md-2 control-label">Owner</label>
      <div class="col-md-10">
        <input name="Owner" id="Owner"
               value="{{ request.form['Owner'] or post['Owner'] }}" class="form-control" aria-describedby="basic-addon1" required>
      </div>
    </div>
    <div class="form-group">
      <label for="QueueName" class="col-md-2 control-label">QueueName</label>
      <div class="col-md-10">
        <input name="QueueName" id="QueueName"
               value="{{ request.form['QueueName'] or post['QueueName'] }}" class="form-control" aria-describedby="basic-addon1" required>
      </div>
    </div>
    <div class="form-group">
      <label for="ParticulSDK" class="col-md-2 control-label">ParticulSDK</label>
      <div class="col-md-10">
        <input name="ParticulSDK" id="ParticulSDK"
               value="{{ request.form['ParticulSDK'] or post['ParticulSDK'] }}" class="form-control" aria-describedby="basic-addon1" required>
      </div>
    </div>
    <hr>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10 submit-row">
        <input type="submit" value="Save">
      </div>
    </div>
  </form>
      <div class="col-md-offset-2 submit-row">
        <form action="{{ url_for('resource.device_delete', id=post['ID']) }}" method="post">
          <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
        </form>
      </div>
</div>
{% endblock %}